@import "../../../../../styles/constants";

bma-page-sidenav {
  display: flex;
  flex-direction: column;
}

.bma-page-sidenav-container {
  flex: 1;
  box-sizing: border-box;
}

.bma-page-sidenav {
  overflow: auto;
}

.bma-page-sidenav-content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.bma-page-sidenav-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  // The rule will match the element following the router-outlet which will be the routed component.
  router-outlet + * {
    flex-grow: 1;
  }
}

.bma-page-sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

@media (max-width: $small-breakpoint-width) {
  .bma-page-sidenav-container {
    flex: 1 0 auto;
  }

  // Add specific rule to prevent default rule conflict
  .bma-page-sidenav-container .bma-page-sidenav {
    // position right above the content
    z-index: 4;
  }
}
