<header class="bma-navbar-header">

    <ng-content select="sidenav-button"></ng-content>

    <a mat-button
        routerLink="/"
        aria-label="Book My Appointment">
        <img class="docs-angular-logo"
            src="../../../../assets/img/homepage/angular-white-transparent.svg"
            alt="angular">
        <span>Book My Appointment</span>
    </a>

    <ng-content select="menu-section"></ng-content>
    <div class="flex-spacer"></div>

    <button mat-icon-button>
        <mat-icon>color_lens</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon>language</mat-icon>
    </button>

</header>