@import "../../../../../styles/constants";

.bma-page-header {
  display: flex;
  align-items: center;

  @media (max-width: $small-breakpoint-width) {
    padding-left: 0;
  }
}

h1 {
  outline: none;

  @media (max-width: $small-breakpoint-width) {
    padding: 24px 8px;
    font-size: 20px;
  }
}
