<bma-navbar class="mat-elevation-z6">

</bma-navbar>

<mat-sidenav-container class="bma-business-sidenav-container">

    <div class="bma-business-sidenav-content">

        <!-- Page Header -->
        <div class="bma-primary-header bma-business-page-header">
            <h1 focusOnNavigation>Maintain</h1>
        </div>

        <div class="bma-business-sidenav-body-content">

            <!-- Page Sidenav -->
            <bma-nav class="bma-business-page-nav"></bma-nav>

            <!-- Page Body -->
            <!-- <router-outlet></router-outlet> -->
            <h1>Page Body</h1>

        </div>


    </div>

</mat-sidenav-container>