<mat-sidenav-container class="bma-sidenav-container">
    <!-- If on small screen, menu resides in drawer -->
    <mat-sidenav #sidenav class="bma-sidenav"
        *ngIf="(isHandset$ | async)"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async)"
        [fixedInViewport]="(isHandset$ | async)"
        fixedTopGap="92">
        
        <bma-nav></bma-nav>

    </mat-sidenav>

    <div class="bma-sidenav-content">
            <bma-nav></bma-nav>
                
        <!-- <div class="bma-sidenav-inner-content"> -->

            <!-- <div class="bma-sidenav-body-content"> -->
                <!-- If on large screen, menu resides to left of content -->
                    <h1>Header</h1>
                <!-- <router-outlet></router-outlet> -->
                <div>body</div>
            <!-- </div> -->

        <!-- </div> -->

    </div>

</mat-sidenav-container>